.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 15px;
}

.form-input {
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  background-color: #fff;
  border: 1px solid #808080 !important;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #000 !important;
}
.form-input:active {
  border: 1px solid #4e75ff !important;
}

.submit-btn {
  display: block;
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #6c8cff;
}
