.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0 auto;
  max-width: 1128px;
}

.gallery-item {
  border-radius: 6px;
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  box-shadow: 2px 3px rgb(0 0 0 / 0.05);
  transition: transform 250ms ease;
  cursor: pointer;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.3);
}

.gallery-image {
  width: 360px;
  display: block;
}
