.custom-toast {
  background: #f44336 !important; /* Яскраво-червоний фон */
  color: #fafafb !important; /* Білий текст */
  border-bottom: 2px solid #ffbebe !important;
  border-radius: 4px !important;
  padding: 20px !important;
  width: 432px !important;
  min-height: 88px !important;
  text-align: center;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  letter-spacing: 0.03em !important;
  display: flex !important;
  align-items: center !important;
}
.iziToast-icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px !important;
}
