.loader {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

body.loading .loader {
  display: block;
}

/* Loader spinner (double ring) */
.loader:after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-top-color: #ffbebe;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
